body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    color: #2F2E2E;
    box-sizing: border-box;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
}


/* Header */
.header{
    margin-top: 50px;
    margin-bottom: 90px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    
}
.header__inner{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 42px;
}

.header__nav{
    display: flex;
    margin: auto 0;
}
.nav__item{
    width: 78px;
    font-weight: 400;
    margin-right: 105px;
    cursor: pointer;
    transition: font-weight .1s ease-in-out;
}
.nav__search{
    cursor: pointer;
}
.nav__item:last-child{
    margin-right: 65px;
}

.nav__item:hover{
    font-weight: 700;
}

/* Start */

.start{
    position: relative;
    display: flex; justify-content: end;
}
.start__img{
    width: 1150px;
    height: 740px;
}
.section__start{
    position: relative;
    max-height: 740px;
}
.start__content{
    max-width: 690px;
    max-height: 550px;
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 1;
    background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);
}
.start__title{
    font-size: 51px;
    font-weight: 900;
}
.start__inner{
    margin-top: 140px;
    margin-left: 100px;
    margin-right: 165px;
    margin-bottom: 140px;
}
.start__arrows{
    padding: 15px 30px;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    background: linear-gradient(91.1deg, rgba(244, 246, 245, 0.9) -7.89%, rgba(255, 255, 255, 0.9) 132.55%);

}
.start__text{
    font-family: 'Inter', sans-serif;

    font-weight: 200;
    font-size: 32px;
    line-height: 39px;
}
.arrow{
    cursor: pointer;

}
.arrow:last-child{
    margin-left: 50px;
}

/* Services */
.section__services{
    background: rgba(37, 77, 77, 0.2);
}
.services__subtitle{
    display: flex;
    justify-content: center;
}
.services__title{
    font-size: 51px;
    font-weight: 900;
    margin-bottom: 45px;
}
.services__items{
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.services__item{
    max-width: 160px ;
    text-align: center;
    align-items: center;
    margin-right: 305px;
    margin-bottom: 65px
}

.services__item:last-child{
    margin-right: 0;
}

.services__text__title{
    font-weight: 900;
    font-size: 27px;
    margin-bottom: 10px;
}

/* About */

.about__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 95px;
}

.about__content{
    margin: auto 0;
    margin-left: 85px;
}

.about__title{
    font-size: 51px;
    font-weight: 900;
}

.about__text{
    font-size: 31px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.about__btn__holder{
    display: flex;
    justify-content: space-between;
}

.about__btn{
    font-size: 24px;
    font-weight: 600;
}

.about__btn:after{
    display:block;
    content: '';
    border-bottom: solid 2px #000;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.about__btn:hover:after{
    transform: scaleX(1);
}

/* Projects */

.project__subtitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.project__title{
    font-size: 51px;
    font-weight: 900;
}
.project__nav{
    display: flex;
    margin: auto 0;
    font-family: 'Inter', sans-serif;
}
.proj__nav__item{
    cursor: pointer;
    transition: font-weight .1s ease-in-out;
    width: 68px;
    font-size: 20px;
    font-weight: 400;
    margin-right: 95px;
}

.proj__nav__item:hover{
    font-weight: 600;
}
.proj__nav__item:last-child{
    margin: 0;
}
.project__items{
    display: flex;
}
.proj__item{
    margin-right: 8.46%;
}
.proj__item:last-child{
    margin-right: 0;
}
.proj__text{
    margin-top: 12px;
    text-align: center;
}
.project__items:last-child{
    margin-top: 85px;
    margin-bottom: 90px;
}
/* testimonial */

.testimonial{
    margin-bottom: 70px;
}
.testimonial__title{
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Playfair Display';
    font-size: 51px;
    line-height: 60px;
    font-weight: 900;
    color: #000000;
}
.testimonial__items{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.testimonial__item{
    display: flex;
}
.testimonial__item:first-child{
    margin-right: 60px;
}
.testimonial__img {
    margin-right: 30px;
}
.testimonial__text{
    margin: auto 0;
}

.testimonial__text__title {
    
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    color: #2F2E2E;
    margin-bottom: 16px;

}
.testimonial__text__content {
    font-family: 'Playfair Display';
    font-size: 17px;
    line-height: 20px;

    color: #2F2E2E;
}

.testimonial__slider{
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

.testimonial__btn{
    cursor: pointer;
    text-decoration: none;
    border: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 20px;
    transition: background .2s linear;
}
.testimonial__active{
    background: #787777;  
}

.testimonial__inactive{
    background: #E9E9E9;  
}
.testimonial__btn:last-child{
    margin: 0;
}
.testimonial__inactive:hover{
    background: #C4C4C4;  
}

/* footer */

.footer{
    background: #2E2F32;
    color: #fafafa;
    padding-top: 50px;
    padding-bottom: 45px;;
}

.footer__inner{
    display: flex;
}
.footer__main{
    margin-right: 140px;
}
.footer__articles{
    margin-right: 90px;
}
.footer__links{
    margin-right: 165px;
}
.footer__text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
}
.footer__text-main{
    line-height: 29px;
    font-size: 17px;
    font-weight: 400;

}
.footer__text-articles{
    line-height: 21px;
}
.footer__link{
    line-height: 21px;
}
.footer__title{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 15px;
}
.footer__maintitle{
    font-size: 42px;
    font-weight: 600;
    font-family: 'Barlow';
    margin-bottom: 7px;
}
.footer__icons{
    margin-top: 95px;
    display: flex;
    color: #fafafa;
    font-size: 24px;

}
.footer_ico{
    margin-right: 35px;
    cursor: pointer;

}

.footer_ico:after{
  display:block;
  content: '';
  border-bottom: solid 2px #fafafa;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.footer_ico:hover:after{
    transform: scaleX(1);
}


@media (max-width:1250px){
    .container{
        max-width: 960px;
    }
    .proj__img{
        max-width: 100%;
    }
    .nav__item{
        margin-right: 70px;
    }
    .testimonial__img{
        height: 100%;
        width: auto;
    }
    .section__start{
        max-height: none;
    }
    .start__img{
        max-width: 100%;
        height: auto;
    }
    .start__inner{
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 100px;
    }
    .start__content{
        max-width: 490px;
        max-height: 350px;
    }
    .about__btn{
        margin: auto;
        max-width: 120px;
    }
    .about__inner{
        position: relative;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .about__img{
        opacity: 40%;
    }
    .about__content{
        position: absolute;
        max-width: 720px;
        margin: 0;
    }
    .footer__item{
        margin-right: 80px;
    }
    .footer__item:last-child{
        margin-right: 0;
    }
    
}

@media (max-width:960px){
    .container{
        max-width: 768px;
    }
    .footer__item {
        margin-right: 50px;
    }
    .footer__item:last-child{
        margin-right: 0;
    }
    .services__item{
        margin-right: 100px;
    }
    .testimonial__item:last-child{
        display: none;
    }
    .proj__nav__item{
        margin-right: 40px;
    }
    .footer__map{
        width: 100%;
    }
    .header__logo{
        margin-right: 20px;
    }
    .nav__item{
        margin-right: 20px;
    }
    .about__content{
        max-width: 80%;
    }
}

@media (max-width:768px){
    .container{
        max-width: 625px;
    }
    .start__content{
        top: 0;
        max-width: none;
        max-height: none;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .start__inner{
        margin: 0;
    }
    .start__arrows{
        z-index: 2;
    }
    .footer__item:last-child{
        display: none;
    }
    .header__logo{
        font-size: 27px;
    }
    .about__img{
        height: auto;
        width: 100%;
    }
    .start__title{
        font-size: 38px;
    }
    .start__text{
        font-size: 24px;
    }
    .services__title{
        font-size: 38px;
    }
    .about__title{
        font-size: 38px;
    }
    .about__text{
        font-size: 24px;
    }
    .project__title{
        font-size: 31px;
    }
    .proj__nav__item{
        margin-right: 20px;
        font-size: 14px;
    }
    .proj__nav__item:last-child{
        margin-right: 0;
    }

}
@media (max-width:625px){
    .container{
        max-width: 425px;
    }
    .services__item{
        width: 100%;
        height: auto;
        margin-right: 30px;
    }
    .header{
        margin-bottom: 30px;
    }
    .header__nav{
        display: none;
    }
    .header__logo{
        font-size: 51px;
    }
    .header__inner{
        justify-content: center;
    }
    .footer__links{
        display: none;
    }
    .testimonial__text__title{
        font-size: 16px;
        line-height: inherit;
    }
    .proj__nav__item{
        width: 60px;
    }
    .proj__nav__item:first-child{
        width: 20px;
    }
    .footer__icons{
        margin-top: 30px;
    }
}